@page
@model TattooRazorPages.Pages.ArtistPage.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "_ArtistLayout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h1>@ViewData["Title"]</h1>
<br>
<form asp-page-handler="ChangePassword" method="post">
    <div class="form-group">
        <label for="OldPassword">Old Password:</label>
        <input type="password" id="OldPassword" name="OldPassword" class="form-control" >
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label for="NewPassword">New Password:</label>
        <input type="password" id="NewPassword" name="NewPassword" class="form-control" >
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password:</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" >
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
<div>
    <a asp-page="./EditAccount">Back to Edit Profile</a>
</div>