@page
@model TattooRazorPages.Pages.ArtistPage.CreateScheduleModel

@{
    ViewData["Title"] = "CreateSchedule";
    Layout = "_ArtistLayout";
    
}

<h1>CreateSchedule</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="scheduleModel.Date" class="control-label"></label>
                <input asp-for="scheduleModel.Date" class="form-control" value="@DateTime.Now.ToShortDateString()" />
                <span asp-validation-for="scheduleModel.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheduleModel.TimeFrom" class="control-label"></label>
                <input asp-for="scheduleModel.TimeFrom" class="form-control" value="08:00" />
                <span asp-validation-for="scheduleModel.TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheduleModel.TimeTo" class="control-label"></label>
                <input asp-for="scheduleModel.TimeTo" class="form-control" value="17:00" />
                <span asp-validation-for="scheduleModel.TimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Schedule">Back to Schedule</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
