@page
@model TattooRazorPages.Pages.ArtistPage.EditAccountModel

@{
    ViewData["Title"] = "EditAccount";
    Layout = "_ArtistLayout";
}

<h1>Edit Profile</h1>

<h4>@Model.a.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="artist.ArtistId" />
            <div class="form-group">
                <label asp-for="artist.StudioId" class="control-label">Studio Address</label>
                <select asp-for="artist.StudioId" class="form-control" asp-items="ViewBag.StudioId"></select>
                <span asp-validation-for="artist.StudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Name" class="control-label"></label>
                <input asp-for="artist.Name" class="form-control"/>
                <span asp-validation-for="artist.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Email" class="control-label"></label>
                <input asp-for="artist.Email" class="form-control" />
                <span asp-validation-for="artist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Password" class="control-label"></label>
                <input asp-for="artist.Password" class="form-control" type="password" value="*****" disabled />
                <span asp-validation-for="artist.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Phone" class="control-label"></label>
                <input asp-for="artist.Phone" class="form-control" />
                <span asp-validation-for="artist.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Address" class="control-label"></label>
                <input asp-for="artist.Address" class="form-control" />
                <span asp-validation-for="artist.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Avatar" class="control-label"></label>
                <input asp-for="artist.Avatar" class="form-control" placeholder="Enter the image link" />
                <span asp-validation-for="artist.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artist.Certificate" class="control-label"></label>
                <input asp-for="artist.Certificate" class="form-control" placeholder="Enter the image link" />
                <span asp-validation-for="artist.Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Account">Back to Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

