@page
@model TattooRazorPages.Pages.ArtistPage.EditScheduleModel

@{
    ViewData["Title"] = "EditSchedule";
    Layout = "_ArtistLayout";
}

<h1>EditSchedule</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.Date" class="control-label"></label>
                <input asp-for="Schedule.Date" class="form-control"/>
                <span asp-validation-for="Schedule.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.TimeFrom" class="control-label"></label>
                <input asp-for="Schedule.TimeFrom" class="form-control"/>
                <span asp-validation-for="Schedule.TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.TimeTo" class="control-label"></label>
                <input asp-for="Schedule.TimeTo" class="form-control"/>
                <span asp-validation-for="Schedule.TimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Schedule">Back to Schedule</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
