@page
@model TattooRazorPages.Pages.Admin.CreateNewStudioModel
@{
}

<h1>Create new Studio</h1>
<h4>Studio</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Studio.Code"></label>
                <input asp-for="Studio.Code" class="form-control" />
                <span asp-validation-for="Studio.Code" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Schedule">Back to Schedule</a>
</div>