<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TattooRazorPages.styles.css" asp-append-version="true" />
    <script src="~/js/logout.js"></script> <!-- Thêm dòng này -->
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #000010;">
        <div class="container">
            <a class="col-3 navbar-brand" style="font-size: 50px; font-weight: 900; color: #fff">TAR2</a>

            <div class="navbar-right col-6 justify-content-end">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" style="color: #fff" type="submit">Search</button>
                </form>
            </div>

            <div class="navbar-right">
                @if (ViewData["IsLoggedIn"] != null && (bool)ViewData["IsLoggedIn"])
                {
                    <button class="btn btn-outline-primary" style="border-color: #000010; color: #fff" onclick="window.location.href='./Logout'">Logout</button>
                }
                else
                {
                    <button class="btn btn-outline-primary" style="border-color: #000010; color: #fff" onclick="window.location.href='Login'">Login</button>
                }
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="text-align:center">
        <div class="container">
            &copy; 2023 - Tar2 - Tattoo Lover <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>